body {
  background: #000;
  color: #fff;
  font-family: Arial;
  padding: 40px;
}

input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 30px;
  background: #111;
  color: white;
  border: 1px solid #333;
}

.case-card {
  border: 1px solid #222;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.case-card:hover {
  background: #111;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  background: #111;
  padding: 30px;
  max-width: 500px;
  width: 90%;
}

.hidden {
  display: none;
}

#closePopup {
  float: right;
  cursor: pointer;
}
